[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
socketio = "*"
pygame = "*"
asyncio = "*"
gpiozero = "*"
"rpi.gpio" = "*"
adafruit-pca9685 = "*"
adafruit-pureio = "*"
adafruit-blinka = "*"
adafruit-circuitpython-motor = "*"
adafruit-circuitpython-pca9685 = "*"
python-socketio = "*"

[dev-packages]

[requires]
python_version = "3.9"
